In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('Housing.csv')

In [6]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [7]:
df.isnull() .sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [9]:
df.duplicated().sum() #Returns Duplicate rows

0

In [10]:
#Correlation Matrix
corr=df.corr()
print(corr)

              price      area  bedrooms  bathrooms   stories   parking
price      1.000000  0.535997  0.366494   0.517545  0.420712  0.384394
area       0.535997  1.000000  0.151858   0.193820  0.083996  0.352980
bedrooms   0.366494  0.151858  1.000000   0.373930  0.408564  0.139270
bathrooms  0.517545  0.193820  0.373930   1.000000  0.326165  0.177496
stories    0.420712  0.083996  0.408564   0.326165  1.000000  0.045547
parking    0.384394  0.352980  0.139270   0.177496  0.045547  1.000000

/tmp/ipykernel_97/1211728239.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr=df.corr()

In [11]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()

In [14]:
#Defining a list of categorical columns to be encoded & encoding them
categorical_data = ['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus']
for i in categorical_data:
    df[i] = le.fit_transform(df[i])

In [15]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0

In [16]:
x=df.drop('price',axis=1) #x will contain all columns except the price column
y=df.price # y will have only the price column

In [17]:
print(x.head())

   area  bedrooms  bathrooms  stories  mainroad  guestroom  basement  \
0  7420         4          2        3         1          0         0
1  8960         4          4        4         1          0         0
2  9960         3          2        2         1          0         1
3  7500         4          2        2         1          0         1
4  7420         4          1        2         1          1         1

   hotwaterheating  airconditioning  parking  prefarea  furnishingstatus
0                0                1        2         1                 0
1                0                1        3         0                 0
2                0                0        2         1                 1
3                0                1        3         1                 0
4                0                1        2         0                 0

In [18]:
print(y.head())

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error,confusion_matrix,r2_score

In [20]:
#Split data in 70:30 ratio
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state = 5)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [48]:
    print("The training score is,",model.score(x_train,y_train),end='\n')
    print("The testing score is,",model.score(x_test,y_test))

The training score is, 0.6722721620878297
The testing score is, 0.6701127297811891

In [60]:
training_score = model.score(x_train, y_train)*100
training_accuracy = "{:.2f}".format(training_score)
print("Training Accuracy in % =",training_accuracy,end='\n')

testing_score = model.score(x_test, y_test)*100
testing_accuracy = "{:.2f}".format(testing_score)
print("Testing Accuracy in % =",testing_accuracy,end='\n')

Training Accuracy in % = 67.23
Testing Accuracy in % = 67.01

In [87]:
import numpy as np

y_pred=model.predict(x_test)

mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error (MAE):", mae)

mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

r_squared = r2_score(y_test, y_pred)
print("R-squared:", r_squared)

Mean Absolute Error (MAE): 721569.6538611307
Mean Squared Error (MSE): 827865989822.3118
Root Mean Squared Error (RMSE): 909871.4138944644
R-squared: 0.6701127297811891